{% extends "layout.html" %}

{% block body %}
<div class="container mt-5">
    <h1 class="row justify-content-md-center">Books Register</h1>
    <br>
    {% if error %}
    <div class="row justify-content-md-center">
        <div class="text-center col-sm-6 col-md-3 alert alert-danger" role="alert">{{error}}</div>
    </div>
    {% endif %}

    <form action="{{ url_for('register') }}" method="POST">
        <div class="row justify-content-md-center">
            <div>
                <span>Username:</span><input type="text" name="username" placeholder="Username" minlength: "6" required>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div>
                <span>Password:</span><input type="password" name="password" placeholder="Password" minlength="8" required>
            </div>
        </div>
        <br>
        <div class="row justify-content-md-center"><button>Register</button></div>
        <br>
        <div class="row justify-content-md-center">
            <a href="{{ url_for('login') }}">Login</a>
        </div>
    </form>

</div>
{% endblock %}
